body{
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    color: white;
    background-color: rgb(49, 49, 49);
}
h1{
    font-size: 250%;
    padding-top: 50px;
}
#answers{
    width: 50%;
    margin: auto;
    align-items: center;
}
.ans{
    float: left;
    margin: 5px;
    width: 50px;
    height: 50px;
}