body{
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    animation: 3s infinite linear grad;
}
h1{
    font-size: 250%;
    padding-top: 50px;
}
#answers{
    width: 50%;
    margin: auto;
    align-items: center;
}
.ans{
    border-radius: 25%;
    float: left;
    margin: 5px;
    width: 60px;
    height: 60px;
}
@keyframes grad{
    14%{
        background-color: red;
    }
    28%{
        background-color: orange;
    }
    42%{
        background-color: yellow;
    }
    57%{
        background-color: rgb(1, 200, 1);
    }
    71%{
        background-color: blue;
    }
    85%{
        background-color: rgb(106, 0, 181);
    }
    0%, 100%{
        background-color: rgb(233, 57, 253);
    }
}