body{
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, red,orange,yellow,rgb(1, 200, 1),blue,rgb(106, 0, 181),rgb(233, 57, 253));
}
h1{
    font-size: 250%;
    padding-top: 50px;
}
#answers{
    width: 50%;
    margin: auto;
    align-items: center;
}
.ans{
    float: left;
    margin: 5px;
    width: 50px;
    height: 50px;
}